* {
  margin: 0;
  padding: 0;
}

.home_main {
  margin: 0;
  padding-top: 0;
}

.home_random_search {
  background-image: image-url('random_search.jpg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50% auto;
  height: 40rem;
  margin-top: 0;
  margin-bottom: 0;
}

.home_conditional_search {
  background-image: image-url('conditional_search.jpg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 50% auto;
  height: 40rem;
  margin-top: 0;
}
